/*Esimerkkipohjan tyylitiedosto.*/

body {
	font-family: 'Helvetica', sans-serif; /* Määrittää käytettävän fontin tyypin*/
	font-size: 16px; /* Määrittää käytettävän fontin koon*/
	background-image: url("../kuvia/footer_lodyas.png"); /* Määritetty taustakuva*/
	background-color: #004666; /* Määrittää taustavärin*/
}

main {
	
	max-width: 640px; /* Määrittää kyseisen elementin maksimileveyden.*/
	margin: auto; /* Jos elementille on asetettu joku leveysarvo, niin tällöin margin: auto; keskittää elementin.*/
	background-color: #FFF; /* Määrittää elementin taustavärin.*/
	margin-top: 20px;
}

section {
	padding: 8px 12px; /* Lisää elementtiin tyhjää tilaa reunoille.*/
}

footer {
	text-align: center; /* Keskittää tässä elementissä olevan tekstin.*/
}

p {
	/* color: #009933; */
}


/*Responsiivinen kuva*/
.responsiveImg {
	max-width: 100%;
	height: auto;
}

#kuuKuva {
	float: right;
}

/*Header-osio*/
.headerContainer {
	position: relative;
	text-align: center;
}

#headerTeksti {
	position: absolute;
	top: 10px;
	left: 16px;
	color: #FFF;
	font-size: 24px;
	font-weight: 600;
}















